@import '../../styles/settings/colors';
@import '../../styles/settings/typography';
@import '../../styles/mixins/responsive';

.block {
  padding: 20px;
  overflow: hidden;

  @include respond-from(md) {
    padding: 50px;
  }
}

.subtitle {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: $font-size-small;

  @include respond-from(md) {
    font-size: $font-size-small-title;
  }
}

.title {
  position: relative;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-stack-title;
  font-size: $font-size-title;
  font-weight: 600;

  @include respond-from(md) {
    font-size: $font-size-large-title;
  }

  &::after {
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -35px;
    background-color: $color-accent;
    width: 70px;
    height: 3px;
    content: '';
  }
}

.content {
  font-weight: 300;
}
