@import '../../../styles/settings/colors';
@import '../../../styles/settings/spacing';
@import '../../../styles/settings/typography';
@import '../../../styles/settings/z-index';
@import '../../../styles/mixins/animation';
@import '../../../styles/mixins/responsive';

$margin: 10px;

.header {
  @include transition(top, left, right);

  position: fixed;
  top: $margin;
  right: $margin;
  left: $margin;
  z-index: $header-level;
  box-shadow: 0 2px 4px $color-accent-light;
  height: $header-height;

  @include respond-height(md) {
    height: $header-height-lg;
  }
}

.background {
  @include transition(opacity);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .5;
  background-color: $color-primary-light;
}

.content {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: $color-text-accent;
}

.left {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-start;
}

.right {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: flex-end;
}

.headerSticky {
  composes: header;

  top: 0;
  right: 0;
  left: 0;

  .background {
    opacity: 1;
  }
}

.headerHidden {
  top: -$header-height - $margin;

  @include respond-height(md) {
    top: -$header-height-lg - $margin;
  }
}

.logo {
  cursor: pointer;
  font-size: $font-size-small;

  @include respond-height(md) {
    font-size: $font-size;
  }
}

.langs {
  flex: 0 1 auto;
  border-right: 1px solid $color-white;
  padding-right: 10px;
}

.user {
  flex: 0 1 auto;
  margin-left: 10px;
  background: url('/img/team/default.png') 0 0 no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.menu {
  @include transition(color);

  composes: material-icons from global;

  flex: 0 1 auto;
  margin-left: 10px;
  cursor: pointer;
  color: $color-white;

  &:hover {
    color: $color-accent-light;
  }

  &:active {
    color: $color-accent-dark;
  }
}

.menuActive {
  composes: menu;
  color: $color-accent;
}
