@import '../../styles/settings/colors';
@import '../../styles/mixins/animation';

.langs {
  width: auto;
  white-space: nowrap;
}

.langItem {
  @include transition(color);

  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: middle;
  color: $color-white;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $color-accent-light;
  }

  &:active {
    color: $color-accent-dark;
  }
}

.langItemActive {
  composes: langItem;
  color: $color-accent;
}
