@import '../../../../styles/settings/colors';
@import '../../../../styles/settings/typography';
@import '../../../../styles/mixins/animation';
@import '../keyframes/exchange';

$width: 120px;
$height: 120px;
$depth: 5px;
$border-radius: 10px;
$side-width: $width - $border-radius - 3;

.root {
  position: relative;
  transform: perspective(300px) rotate3d(4, 1, -2, 60deg);
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  margin-left: 10px;
  width: 2 * $depth + $width;
}


// PLATFORM

.platform {
  @include transition(transform);

  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 2 * $depth + $width;
  transform-style: preserve-3d;
}

.side {
  background-color: $color-accent;
  box-sizing: border-box;
}

.top {
  composes: side;

  transform: rotateX(90deg);
  transform-origin: 0 100%;
  margin: 0 ($depth + ($width - $side-width) / 2);
  width: $side-width;
  height: $depth;
}

.left {
  composes: side;

  transform: rotateY(-90deg);
  transform-origin: 100% 0;
  width: $depth;
  height: $side-width;
}

.front {
  composes: side;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  background-color: $color-background;
  padding: 5px;
  width: $width;
  height: $height;
  text-align: center;
  color: $color-primary-light;
  font-size: $font-size-title;
  font-weight: 900;
  transform-style: preserve-3d;

  span {
    font-size: $font-size-small-title;
  }
}

.back {
  composes: side;

  position: absolute;
  top: $depth;
  left: $depth;
  transform: translate3d(0, 0, -$depth);
  border-radius: $border-radius;
  width: $width;
  height: $height;
  overflow: hidden;

  &::before {
    position: absolute;
    left: -50px;
    animation: exchange-flash 1s $timing-function infinite;
    background: linear-gradient(to right, rgba($color-accent-light, 0) 0%, $color-accent-light 50%, rgba($color-accent-light, 0) 100%);
    width: 50px;
    height: 100%;
    content: '';
  }
}

.right {
  composes: side;

  transform: rotateY(90deg);
  transform-origin: 0 0;
  width: $depth;
  height: $side-width;
}

.bottom {
  composes: side;

  transform: rotateX(-90deg);
  transform-origin: 0 0;
  margin: 0 ($depth + ($width - $side-width) / 2);
  width: $side-width;
  height: $depth;
}
