@import '../../../../styles/settings/colors';
@import '../../../../styles/mixins/animation';

$width: 60px;
$height: 60px;
$back-height: 240px;

.root {
  position: relative;
  transform: perspective(300px) rotate3d(4, 1, -2, 60deg);
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  padding-bottom: $height;
  width: $width;
}

.back {
  @include transition(transform);

  transform: scaleY(0);
  transform-origin: 0 100%;
  background: linear-gradient(to top, rgba($color-accent-light, .65) 0%, transparent 100%);
  width: 100%;
  height: $back-height;
}

.rootActive {
  composes: root;

  .back {
    transition-delay: $duration;
    transform: scaleY(1);
  }
}
